// Place all the styles related to the shindans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sh-index-block ul{
    list-style: none;
    gap:40px;
    text-align: center;
}

.sh-new-block ul{
    list-style: none;
    gap:40px;
    text-align: center;
}

.sh-show-block ul{
    list-style: none;
    gap:40px;
    text-align: center;
}