// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a{
    text-decoration: none;
}

header a{
    color:rgb(3, 128, 128);
}

.top-first-block{
    background-image: url("S__4014083.jpg");
    background-size: cover; /* 画像を要素にカバーさせる */
    background-position: center center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
    height:95vh;
}

.tf-name h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding-top: 140px;
    font-size: 80px;
    text-align: center;
    color:rgb(3, 128, 128);
    width: 1000px;
    height: 20px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.tf-name p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 80px;
    text-align: center;
    color:rgb(3, 128, 128);
    margin: 5px;
}

.top-second-block{
    height:150vh;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:70px;
}

.ts-text{
    padding-top: 100px;
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.ts-pic{
    margin:auto;
    vertical-align: bottom;
    padding-left: 200px;
    padding-top: 20px;
}

.img_wrap{
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
  }
  .img_wrap img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .img_wrap:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
  }
  

.ts-pic2{
    margin: 0 auto;
    vertical-align: bottom;
    padding-left: 200px;
}

.second-block ul{
    list-style: none;
    font-size:80px;

}

.ma-second-block{
    display: flex;
}

.tweet-first-block{
    display: flex;
}

.tweet-second-block{
    display: flex;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%;height: 95vh; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }

.tweet{
    display: flex;
}



.tweet ul{
    list-style: none;
}

a:hover {
    color: red;
  }
  
a:active {
    color: green;
  }

a:visited{
    color:rgb(3, 128, 128);
}

